* {
    background-color: rgb(243, 219, 185);
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
    text-decoration: underline;
    font-style: italic;
    font-size: 50px;
}

img {
    border: 3px solid black;
    padding: 5px;
    background-color: rgb(184, 184, 166);
    margin: 3px;
    margin-left: 38vw;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: brown;
    margin-left: 10px;
}

p,ul li,ol li {
    font-size: 20px;
}

p {
    border: 3px solid black;
    padding: 5px;
}

ul li {
    border: 2px solid black;
    margin-bottom: 13px;
    padding: 13px
}

ol li {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;

}